.page-header {
    background-color: rgb(21, 153, 87);
    background-image: linear-gradient(120deg, rgb(21, 87, 153), rgb(21, 153, 87));
    box-sizing: border-box;
    color: rgb(96, 108, 113);
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -21px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    text-align: center;
    width: 1920px;
}

.page-header h1,
.page-header h2 {
  color: white;
}

.page-header a.btn {
      display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    padding: 0.75rem 1rem;
    text-decoration: none;
}

.page-header .btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
}


.main-content {
  text-align: center;
}